<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table' *ngIf="forecasts">
    <thead>
        <tr>
            <th>Id</th>
            <th>Completed?</th>
            <th>Description</th>
            <th>Dedline</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let forecast of forecasts">
            <td>{{ forecast.itemId }}</td>
            <td>{{ forecast.completed }}</td>
            <td>{{ forecast.description }}</td>
            <td>{{ forecast.deadline }}</td>
        </tr>
    </tbody>
</table>
